
<div class="nav-bar">
    <a href="/TerrainGenerator">
        terrain generator
    </a>

    <a href="/">
        home
    </a>

    <a href="/PrimeFactorization">
        prime factorization
    </a>
</div>